
<!DOCTYPE html>
<html>
<head>
    {include file="public/head" /}
    {include file="public/css" /}
    <link rel="stylesheet" type="text/css" href="/static/webupload/webuploader.css">
    <link rel="stylesheet" type="text/css" href="/static/webupload/style.css">
    <link href="/static/admin/css/plugins/switchery/switchery.css" rel="stylesheet">
    <style>
        .file-item{float: left; position: relative; width: 110px;height: 110px; margin: 0 20px 20px 0; padding: 4px;}
        .file-item .info{overflow: hidden;}
        .uploader-list{width: 100%; overflow: hidden;}
    </style>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>编辑文章
                    </h5>
                    <div class="ibox-tools">
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form method="post" class="form-horizontal" id="insertArticle" action="{:url('Article/update_article')}" enctype="multipart/form-data">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">标题：</label>

                            <div class="col-sm-4">
                                <input type="text" class="form-control" placeholder="输入文章标题" name="title" id="title" value="{$article['title']}">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">关键词：</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" placeholder="输入文章关键词" name="keywords" id="keywords" value="{$article['keywords']}">
                                <input type="hidden" name="id" value="{$article['id']}">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">文章描述：</label>

                            <div class="col-sm-4">
                                <textarea class="form-control" style="height: 100px" placeholder="输入文章描述" name="description"  id="description">{$article['description']}</textarea>

                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">文章分类：</label>

                            <div class="col-sm-4">
                                <select class="form-control m-b" name="cate_id" id="cate_id">
                                    {foreach name='list' item="list"}
                                    {if $article['cate_id'] == $list['id']}
                                    <option value="{$list['id']}" selected>{$list['name']}</option>
                                    {else /}
                                    <option value="{$list['id']}">{$list['name']}</option>
                                    {/if}
                                    {/foreach}
                                </select>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">缩略图：</label>
                            <div class="input-group col-sm-4">
                                <input type="hidden" id="data_photo" name="photo" value="{empty name=" $article['photo']"}/static/webupload/no_img.jpg{else
                                /}{$article['photo']}{/empty}">
                                <div id="fileList" class="uploader-list" style="float:right"></div>
                                <div id="imgPicker" style="float:left">选择图片</div>
                                <img id="img_data" height="100px"
                                     style="float:left;margin-left: 80px;margin-top: -10px;" src="
                                   {empty name=" $article['photo']"}
                                /static/webupload/no_img.jpg
                                {else /}
                                /uploads/images/{$article['photo']}
                                {/empty}
                                "/>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">文章正文：</label>
                            <div class="input-group col-sm-9">
                                <script src="/static/ueditor/ueditor.config.js" type="text/javascript"></script>
                                <script src="/static/ueditor/ueditor.all.js" type="text/javascript"></script>
                                <textarea name="content" style="width:90%;height: 450px"  id="Editor">{$article['content']}</textarea>
                                <script type="text/javascript">
                                    var editor = new UE.ui.Editor();
                                    editor.render("Editor");
                                </script>
                            </div>

                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">推荐：</label>

                            <div class="col-sm-4">
                                <select class="form-control m-b" name="is_tui" >
                                    {if $article['is_tui'] == 1}
                                    <option value="1" selected>开启</option>
                                    <option value="0">关闭</option>
                                    {else /}
                                    <option value="1">开启</option>
                                    <option value="0" selected>关闭</option>
                                    {/if}
                                </select>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">是否显示：</label>

                            <div class="col-sm-4">
                                <select class="form-control m-b" name="status">
                                    {if $article['status'] == 1}
                                    <option value="1" selected>开启</option>
                                    <option value="0">关闭</option>
                                    {else /}
                                    <option value="1">开启</option>
                                    <option value="0" selected>关闭</option>
                                    {/if}
                                </select>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">浏览量：</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="views" placeholder="100-10000数值" id="views" value="{$article['views']}">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">作者：</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="author" placeholder="作者信息" id="author" value="{$article['author']}">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-6 col-sm-offset-3">
                                <button class="btn btn-success" type="submit"><i class="fa fa-save"></i> 保 存</button>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <a class="btn btn-danger" type="submit"><i class="fa fa-close"></i> 返 回</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="public/js" /}

<script type="text/javascript" src="/static/webupload/webuploader.min.js"></script>
<script src="/static/admin/js/plugins/switchery/switchery.js"></script>
<script type="text/javascript">
    var $list = $('#fileList');
    //上传图片,初始化WebUploader
    var uploader = WebUploader.create({

        auto: true,// 选完文件后，是否自动上传。
        swf: '/static/admin/js/webupload/Uploader.swf',// swf文件路径
        server: "{:url('Upload/upload')}",// 文件接收服务端。
        duplicate :true,// 重复上传图片，true为可重复false为不可重复
        pick: '#imgPicker',// 选择文件的按钮。可选。

        accept: {
            title: 'Images',
            extensions: 'gif,jpg,jpeg,bmp,png',
            mimeTypes: 'image/jpg,image/jpeg,image/png'
        },

        'onUploadSuccess': function(file, data, response) {
            $("#data_photo").val(data._raw);
            $("#img_data").attr('src', '/uploads/images/' + data._raw).show();
        }
    });

    uploader.on( 'fileQueued', function( file ) {
        $list.html( '<div id="' + file.id + '" class="item">' +
            '<h4 class="info">' + file.name + '</h4>' +
            '<p class="state">正在上传...</p>' +
            '</div>' );
    });

    // 文件上传成功
    uploader.on( 'uploadSuccess', function( file ) {
        $( '#'+file.id ).find('p.state').text('上传成功！');
    });

    // 文件上传失败，显示上传出错。
    uploader.on( 'uploadError', function( file ) {
        $( '#'+file.id ).find('p.state').text('上传出错!');
    });


</script>
<script>
    $(function () {
        var opt={
            beforeSubmit: insertBefor,
            success: insertOk,
            dataType: 'json',
            timeout: 5000
        };
        $('#insertArticle').ajaxForm(opt);

        function insertBefor(){
            if ($('#title').val() == ''){
                layer.msg('文章标题不能为空',{icon:5});
                return false;
            }

            if ($('#keywords').val() == ''){
                layer.msg('文章关键词不能为空',{icon:5});
                return false;
            }

            if ($('#description').val() == ''){
                layer.msg('文章描述不能为空',{icon:5});
                return false;
            }

            if ($('#cate_id').val() == 0){
                layer.msg('请选择分类',{icon:5});
                return false;
            }

            if ($('#data_photo').val() == ''){
                layer.msg('文章封面图不能为空',{icon:5});
                return false;
            }

            if ($('#author').val() == ''){
                layer.msg('作者不能为空',{icon:5});
                return false;
            }


        }
        function insertOk(data){
            if (data.pass == 1){
                layer.msg(data.msg, {icon: 6,time:1500,shade: 0.1}, function(index){
                    window.location.href="{:url('Article/list_article')}";
                });
            }else{
                layer.msg(layer.msg,{icon:5});
            }
        }
    });
</script>
<script>
    $(document).ready(function(){$(".i-checks").iCheck({checkboxClass:"icheckbox_square-green",radioClass:"iradio_square-green",})});
</script>
</body>
</html>